<!-- <div class="row">
    <div class="col-12">
        <div><img src="" title="logo" class="w-100"></div>
    </div>
</div> -->
<div style="background-image: url(<%= asset_path 'ac.png' %>); background-size: cover; height: 637px;">
    <div style="width: 100%; height: 630px; background:rgba(0,0,0,0.7);">
    
    <nav class="navbar" style="font-family: 'Gluten', cursive;">
        <div class="container-fluid pt-4">
            <button type="button btn-lg" class="btn" style="color: red; font-size: 50px; ">Moodflix</button>
            <button type="button btn-lg" class="btn btn-danger">Se connecter</button>
        </div>
    </nav>
    <div class="text-center">
        <div style="font-family: 'Teko', sans-serif; font-size: 60px;" class="text-white ">Films, séries TV et bien <br>plus en illimité.</div>
        <div>
            <p class="text-white" style="font-family: 'Comfortaa', cursive; font-size: 15px; ">Où que vous soyez, annulez à tout moment</p>
            <p class="text-white" style="font-family: 'Comfortaa', cursive; font-size: 15px; ">Prêt pour le mood <span class="fs-1"> 😇 </span>saississez votre adresse email pour commencer</p>
        </div>
        <div class="container text-white">
            <form>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
            <form>
        </div>
    </div>
</div>